
<p-toast></p-toast>
<h2>User Information</h2>
<div class="grid">
  <div class="col-2"><label>Hobby</label></div>
  <div class="col-4"><input type="text" pInputText [(ngModel)]="hobby" /></div>
  <div class="col-6"></div>
  <div class="col-2"><label>Location</label></div>
  <div class="col-4">
    <p-autoComplete [(ngModel)]="selectedCity" [dropdown]="true" [suggestions]="filteredCities"
      (completeMethod)="filterCity($event)" field="name"></p-autoComplete>
  </div>
  <div class="col-6"></div>
  <div class="col-2"><label>Distance</label></div>
  <div class="col-4"><input type="number" pInputText [(ngModel)]="distance" /> km</div>
  <div class="col-6"></div>
  <div class="col-2"></div>
  <div class="col-1">
    <button pButton pRipple label="Save" (click)="saveUserInfo()" class="p-button-success"></button>
  </div>
  <div class="col-1">
    <button pButton pRipple label="Load" (click)="loadData()" class="p-button-success"></button>
  </div>
</div>

<div class="grid">
  <div class="col-12" *ngIf="hasValue"><label>Your Hobby is {{hobby}}</label></div>
  <div class="col-12" *ngIf="hasValue"><label>Your Location is {{selectedCity.name}}</label></div>
  <div class="col-12" *ngIf="hasValue"><label>Your Disatance is {{distance}}</label></div>
</div>